.explore-workouts-main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.explore-workouts-main .explore-workouts-body {
    width: 95%;
    height: 95%;
    background-color: #1B262C;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.explore-workouts-main .workout-title {
    font-size: 40px;
    text-align: center;
}

.explore-workouts-main .searchbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore-workouts-main .searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    background-color: #ECE6F0;
    padding: 8px 20px;
    border-radius: 15px;
    width: 50%;
    margin-bottom: 10px;
}

.explore-workouts-main .searchbar input {
    background-color: #ECE6F0;
    padding: 2px 10px;
    font-size: 20px;
    color: black;
    flex-grow: 1;
}

.explore-workouts-main .searchbar input:focus {
    outline: none;
}

.explore-workouts-main .searchbar img {
    width: 24px;
    height: 24px;
}

.explore-workouts-main .table-container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

.explore-workouts-main table {
    border-collapse: collapse;
    width: 100%;
}

.explore-workouts-main table th {
    border: 0.2px solid #777;
    margin: 2px;
    padding: 5px 10px;
    cursor: default;
    font-size: 20px;
    color: #eee;
}

.explore-workouts-main table tbody tr:hover {
    background-color: #222D33;
}

.explore-workouts-main table td {
    border: 0.2px solid #777;
    margin: 2px;
    padding: 5px 10px;
    cursor: pointer;
    color: #eee;
    font-size: 16px;
}

.blur-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    z-index: 1;
}

.explore-workouts-main .workout-menu {
    position: absolute;
    width: 60%;
    height: 90%;
    z-index: 2;
    background-color: #222D33;
    border-radius: 15px;
}

.workout-plot {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 40px;
}

.workout-plot .exit-plot {
    display: flex;
    justify-content: end;
    width: 100%;
}

.workout-menu .exit-plot button {
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #bbb;
    color: black;
    font-size: 16px;
}

.workout-menu .exit-plot button:hover {
    background-color: #eee;
}

.workout-plot .line-plot {
    margin-top: 10px;
}

.workout-plot .plot-input {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.workout-plot .plot-input-field {
    display: flex;
    align-items: center;
    gap: 10px;
}

.workout-plot .plot-input-field input {
    background-color: #ddd;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
}

.workout-plot .plot-btn button{
    padding: 5px 20px;
    background-color: #1B262C;
    border-radius: 10px;
    cursor: pointer;
}

.workout-plot .plot-btn button:hover {
    outline: solid 1px #ddd;
}

.workout-plot .line-plot {
    color: #ddd;
}