* {
  border: none;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  color: white;
}

.main-app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.top-bar {
  height: 7%;
  width: 100%;
  background-color: #1B262C;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.main-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 93%;
}

.navigation-menu {
  width: 12%;
  height: 100%;
  background-color: #1B262C;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navigation-menu button {
  padding: 10px;
  color: white;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.application {
  background-color: #213A45;
  width: 100%;
  height: 100%;
}