/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  color: white;
}

/* Ensure the page stays within the viewport */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;  /* Prevent scrolling */
}

/* Main App Container */
.main-app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

/* Top Bar */
.top-bar {
  height: 7%;
  width: 100%;
  background-color: #1B262C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.top-bar .side-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.top-bar .side-buttons button {
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}

.top-bar .side-buttons button:hover {
  background-color: #2C5364;
}

.top-bar .side-buttons img {
  width: 25px;
  height: 25px;
}

.top-bar .user-identity {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}

/* Main Body */
.main-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 93%;
  overflow: hidden;
}

/* Navigation Menu */
.navigation-menu {
  width: 15%;
  height: 100%;
  background-color: #1B262C;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.navigation-menu button {
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  background-color: #213A45;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navigation-menu button:hover {
  background-color: #2C5364;
}

/* Application Content Area */
.application {
  flex: 1;  /* Fills remaining space */
  background-color: #213A45;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.navigation-menu .field {
  display: flex;
  gap: 10px;
}

.navigation-menu .field div {

}

.navigation-menu .field img {
  height: 20px;
  width: 20px;
}
